{% extends 'base.html.twig' %}


{% block body %}
    <h1> HOLA MUNDOOO </h1>
    <a class="btn btn-primary" href="{{ path('usuario_index') }}" role="button">Usuarios</a>
    
    
    
 
   
    
{% endblock %}
    