/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/10/2017, 13:38:16
    Author     : Usuario
*/
table {
  border: 2px steelblue;
  width: 1000px;
  position: relative;
  background-color: whitesmoke;
  max-width:1000px;
  overflow-y: auto;
  height:500px;
  display: block !important;
}
#tablaMaterias, #tablaComisiones {
    display: table;
}

#tablaMaterias{
    float: left;
}
#tablaComisiones{
    float:right;
}

#tablaMaterias table{
    text-align: left;
/*    left: 50px;*/
    /*margin: 4em 4em 4em 1em;*/
}
#tablaComisiones table{
    text-align: right;
    /*right: 50px;*/
    /*margin: 4em 4em 4em 1em;*/
}

