{% extends 'base.html.twig' %}

{% block title %} Güilder - Inicio {% endblock %}
{% block inicio %}<li class="active"><a href="{{ path('homepage') }}"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>{% endblock %}
{% block body %}

<h2> Esta es la página principal </h2>

{% endblock %}
    

