{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">
            <div class="col-m-12">
                <h1>&nbsp;</h1>
            </div>
            <div class="hero-unit">
                <h1 id="encabezado">Carga exitosa!</h1>
            </div>
        </div>
        {% for p in prueba %}
        <p>{{p.year}}</p>
        <p>asd</p>
            {% endfor %}
    
{% endblock %}
    
