{% extends 'base.html.twig' %}
{% block title %} Güilder {% endblock %}
{% block extras %}
    {{ parent() }}
    <link href="{{ asset('css/fileinput.css')}}" media="all" rel="stylesheet" type="text/css" />
    <script src="{{ asset('scripts/fileinput.js')}}" type="text/javascript"></script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-m-12">
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
        </div>
    </div>
    <h1>Carga de comisiones(a traves archivos excel)</h1>
    <div class ="container">

        <form name="excelfile" method="post" enctype="multipart/form-data">
            <div id="excelfile">
                <div>
                    <label for="excelfile_year" class="required">Año</label>
                    <input type="text" class='form-control' id="excelfile_year" name="excelfile[year]" required="required" />
                </div>
                <div>
                    <label for="excelfile_attachment" class="required">Archivo excel</label>
                    <input type="file" class="file" id="excelfile_attachment" name="excelfile[attachment]" required="required" />
                </div>
                {{ form_row(form._token) }}

            </div>
        </form>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Especificaciones
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Especificaciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Para cargar datos con archivos excel se necesita que los headers tengan el siguiente formato(sin importar el orden):<p>
                        <p>Header 'Código' para identificar la materia</p>
                        <p>Header 'Cuatrimestre' para identificar el cuatrimestre al que corresnde la comision</p>
                        <p>Header 'Comisión' para identificar el numero de comision</p>
                        <p>Header 'Docente' para identificar al profesor de la catedra</p>
                        <p>Header 'Día' para identificar el dia en el que se dicta la materia</p>
                        <p>Header 'Hora Inicio' para identificar el horario de inicio del dictado de la materia(Formato HH:mm)</p>
                        <p>Header 'Hora Final' para identificar el horario final del dictado de la materia(Formato HH:mm)</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-m-12">
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>

        </div>
    </div>


{% endblock %}