{% extends 'base.html.twig' %}

{% block title %} Administración {% endblock %}
{% block body %}

<div class="row">
    <div class="col-m-12">
        <h1>&nbsp;</h1>
     </div>
</div>
    <div class="container">

     <div id="contenido" >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Administración</h1>
            </div>
<div class="panel-body">

<center>
<p>Esta página está vacía de momento</p>
<p> Aquí deberían verse métricas de encuentas, etc.</p>
</center>
</div>
</div>
</div>
</div>
</div>

{% endblock %}