{% extends 'base.html.twig' %}

{% block title %} Güilder {% endblock %}
  {% block mod3 %} <li class="active"><a href="{{ path('modulo3') }}"> Módulo 3</a></li>{% endblock %}
{% block body %}
<h2> Esta es la página principal del módulo 3 (encuestas)</h2>

<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <form action="resultados" method="post">
        <div class="row">
            <div class="col-md-offset-3 col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-question-sign"></span> ¿Qué materias piensa cursar?</h3>
                    </div>
                    {% for materia in materias %}
                        <div class="row">
                            <div class="col-md-6">

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value='{{materia.nombre}}' name='materia[]'>
                                                {{materia.nombre}}
                                            </input>
                                        </label>
                                    </div>

                            </div>
                        </div>
                    {% endfor %}
                    <div class="panel-footer">
                        <button type="submit" name="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span> Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
   
</body>

</html>
{% endblock %}