{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creación de usuario</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" value="Crear" />
    {{ form_end(form) }}

    <a class="btn btn-primary" href="{{ path('user_index') }}" role="button">Volver a la lista</a>

{% endblock %}
