<div class="panel panel-primary" id="panel">
    <div class="panel-heading">
        <h2 class="panel-title">
            {{title}}
        </h2>
    </div>
    <div class="panel-body">
        <div class="alert alert-success" *ngIf="status=='1'">
            Comision editada exitosamente
        </div>
        <div class="alert alert-danger" *ngIf="status=='2'">
            No se ha podido editar la comision
        </div>
        
        <div class='loader col-md-12' *ngIf="loading == 'show'">
            <img src="assets/img/ajax-loader.gif"/>
        </div>
        
        <form #NewComisionForm="ngForm" (ngSubmit)="onSubmit()" *ngIf=" loading == 'hide'">
            <p>
                <label>Numero</label>
                <input type="number" class="form-control" name="numero" required #numero=ngModel [(ngModel)]="comision.numero"/>   
            </p>
            <p>
                <label>Profesor</label>
                <input type="text" class="form-control" name="profesor" required #profesor=ngModel [(ngModel)]="comision.profesor"/>   
            </p>
            <p>
                <label>Cuatrimestre</label>
                <input type="number" class="form-control" name="cuatrimestre" required #cuatrimestre=ngModel [(ngModel)]="comision.cuatrimestre"/>   
            </p>
            <p>
                <label>Año</label>
                <input type="number" class="form-control" name="year" required #year=ngModel [(ngModel)]="comision.year"/>   
            </p>
            <p>
                <label>Materia</label>
                <select class="form-control " #idmateria="ngModel" name="idmateria" [(ngModel)]="comision.materiamateria.idmateria">
                    <option *ngFor="let m of materias" value={{m.idmateria}}>{{m.nombre}}</option>
                </select>   
            </p>
            <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!NewComisionForm.valid"/>
            <a type="button" class="btn btn-primary " [routerLink]="['/comisions']">Volver </a>
        </form>

    </div>
</div>
