<div class="panel panel-primary" id="panel">
    <div class="panel-heading">
        <h2 class="panel-title">
            {{title}}
        </h2>
    </div>
    <div class="panel-body">
     
        <div class="alert alert-success" *ngIf="status=='1'">
        Horario borrado correctamente
        </div>
        <div class="alert alert-success" *ngIf="status=='2'">
        La comision no pudo ser borrada
        </div>
        
        <button style='margin-left: 40%' [routerLink]="['/new-hour']" class="btn btn-success">Crear nuevo horario </button>
        <hr/>
        
        <div class='loader col-md-12' *ngIf="loading == 'show'">
            <img src="assets/img/ajax-loader.gif"/>
        </div>
        <table *ngIf="filas" class="table table-striped" >
            <thead>
                <tr>
                    <th>Hora inicial</th>
                    <th>Hora final</th>
                    <th>Dia</th>
                    <th>Materia</th>
                    <th>Profesor</th>
                    <th>Id</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of filas">
                    <td>{{f.inicio|date: 'HH:mm'}}</td>
                    <td>{{f.fin|date: 'HH:mm'}}</td>
                    <td>{{f.diadia.nombre}}</td>
                    <td>{{f.comisioncomision.materiamateria.nombre}}</td>
                    <td>{{f.comisioncomision.profesor}}</td>
                    <td>{{f.idhorario}}</td>
                    <td><button class="btn btn-success" >Editar</button>
                        <button class="btn btn-danger" (click)="borrarHorario(f.idhorario)">Borrar</button></td>
                    
                    
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>