<div class="panel panel-primary" id="panel">
    <div class="panel-heading">
        <h2 class="panel-title">
            {{title}}
        </h2>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" *ngIf="status==1">
        La cuenta ingresada es invalida
        </div>
        <div class="alert alert-danger" *ngIf="status==2">
        La contraseña ingresada no corresponde con su cuenta
        </div>
        <div class="alert alert-success" *ngIf="status==3">
        Se ha autenticado correctamente
        </div>
        <form #registroForm="ngForm" (ngSubmit)="onSubmit()" >
            <p>
                <label>Usuario</label>
                <input type="text" class="form-control" name="username" required #username=ngModel [(ngModel)]="usuario.username"/>   
            </p>
            <p>
                <label>Contraseña</label>
                <input type="password" class="form-control" name="pass1" #pass1=ngModel [(ngModel)]="usuario.password" required/>
            </p>

            <input type="submit" value="Acceder" class="btn btn-success" [disabled]="!registroForm.valid"/>
        </form>
    </div>
</div>