<h2>
    {{title}}
</h2>

<form #formEncuesta="ngForm" (ngSubmit)="onSubmit()" class="col-lg-4" id="form-encuesta">
    <table>
        <tr>
            <td> <select class="form-control " #idmateria="ngModel" name="idmateria" [(ngModel)]="materia1.idmateria">
                    <option *ngFor="let m of materias" value={{m.idmateria}}>{{m.nombre}}</option>
                </select>
            </td>
            <td> <select class="form-control col-lg-4 turno">
                    <option value="1">Turno Mañana</option>
                    <option value="2">Turno Tarde</option>
                    <option value="3">Turno Noche</option>
                </select>
            </td>
        </tr>
        <hr/>
        <tr>
            <td> <select class="form-control " #idmateria="ngModel" name="idmateria" [(ngModel)]="materia2.idmateria">
                    <option *ngFor="let m of materias" value={{m.idmateria}}>{{m.nombre}}</option>
                </select>
            </td>
            <td> <select class="form-control col-lg-4 turno">
                    <option value="1">Turno Mañana</option>
                    <option value="2">Turno Tarde</option>
                    <option value="3">Turno Noche</option>
                </select>
            </td>
        </tr>
        <hr/>
        <tr>
            <td> <select class="form-control " #idmateria="ngModel" name="idmateria" [(ngModel)]="materia3.idmateria">
                    <option *ngFor="let m of materias" value={{m.idmateria}}>{{m.nombre}}</option>
                </select>
            </td>
            <td> <select class="form-control col-lg-4 turno">
                    <option value="1">Turno Mañana</option>
                    <option value="2">Turno Tarde</option>
                    <option value="3">Turno Noche</option>
                </select>
            </td>
        </tr>
        <hr/>
        <tr>
            <td> <select class="form-control " #idmateria="ngModel" name="idmateria" [(ngModel)]="materia4.idmateria">
                    <option *ngFor="let m of materias" value={{m.idmateria}}>{{m.nombre}}</option>
                </select>
            </td>
            <td> <select class="form-control col-lg-4 turno">
                    <option value="1">Turno Mañana</option>
                    <option value="2">Turno Tarde</option>
                    <option value="3">Turno Noche</option>
                </select>
            </td>
        </tr>
        <hr/>
        <tr>
            <td> <select class="form-control " #idmateria="ngModel" name="idmateria" [(ngModel)]="materia5.idmateria">
                    <option *ngFor="let m of materias" value={{m.idmateria}}>{{m.nombre}}</option>
                </select>
            </td>
            <td> <select class="form-control col-lg-4 turno">
                    <option value="1">Turno Mañana</option>
                    <option value="2">Turno Tarde</option>
                    <option value="3">Turno Noche</option>
                </select>
            </td>
        </tr>
    </table>
    <hr/>
    <input type="submit" value="Enviar encuesta" class="btn btn-success"/>
</form>