<div class="panel panel-primary" id="panel">
    <div class="panel-heading">
        <h2 class="panel-title">
            {{title}}
        </h2>
    </div>
    <div class="panel-body">
        <div class="col-lg-3" style='margin-left: 37.5%'>          
            <a [routerLink]="['/change-email']" type="button" class="btn btn-warning  btn-block" >Cambiar Email</a>
            <a [routerLink]="['/change-pass']" type="button" class="btn btn-danger  btn-block" >Cambiar Password  </a>
        </div>
    </div>
</div>